
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('./images/background_img.jpg') no-repeat center center/cover;
    margin: 0;
}
.container {
    width: 90%;
    max-width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
 
}
a{
    text-decoration: none;
    color: white;
}
.heading {
    font-size: 24px;
    margin-bottom: 20px;
    color: #fdfdfd;
    font-weight: bold;
}
.box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.box {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ff5733;
    color: white;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.5s;
    width: 45%;
}
.box:hover {
    background: #c70039;
}
.logo {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.instructions {
    margin-top: 20px;
    font-size: 14px;
    color: #333;
}
@media (max-width: 480px) {
    .box {
        width: 100%;
    }
}
